# NetBeans Specific Paths & Files #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Java Class & Package Files #
*.class
*.jar
*.war
*.ear

# BlueJ Files #
*.ctxt
*.bluej
